/*CSS Reset code*/
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, em, img, i, center, ol, ul, li, fieldset, form, label, figure, figcaption, footer, header, nav, section, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  
/* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  html, body {
    overflow-x: hidden;
  }
  
  body {
    line-height: 1;
    word-wrap: break-word;
    font-size: 100%;
    overflow: hidden;
  }
  
  p {
    padding-bottom: 10px;
  }
  
  figcaption {
    font-style: italic;
  }
  
  button {
    outline: 0;
    color: inherit;
    cursor: pointer;
  }
  
  q {
    display: inline;
    font-style: italic;
  }
  
  textarea, input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], input[type="search"], input[type="password"] input[type="number"], input[type="email"] {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    border-radius: 0;
    border: 2px solid transparent;
    outline: none;
    resize: none;
  }
  
  a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  ol, ul {
    list-style: none;
    text-decoration: none;
  }